/* ==========================================================================
                         HR-FONTS-STYLE
========================================================================== */
p{
	&.pFooter{
		font-family: $fontRobotoCondensed;
		font-size: 9px;
		color:$colorSecundario;
		@include breakpoint(tablet){
			font-size: 12px;
		}
	}
}

/* ==========================================================================
                         END-HR-FONTS-STYLE
========================================================================== */