/* ==========================================================================
SOCIAL - COLOR PALETTE
========================================================================== */
$facebook: #3a5795;
$facebookhover:#17223a;
$twitter: #55acee;
$twitterhover:#345e7e;
$youtube:#cc181e;
$youtubehover:#6e1216;
$googleplus:#dd4b39;
$whatsapp: #59e870;
$redlink: #d83c3c;
/* ==========================================================================
CLIENT - COLOR PALETTE
========================================================================== */  
 $colorPrincipal: #316d82;
 $hoverPrincipal:#142c35;
 $white: #fff;
 $txtTitulos:#212121;
 $txtContenido:#484848;
 $bgBtn:#ededed;


/* ==========================================================================
MEDIOS - COLOR PALETTE
========================================================================== */  
 $parentesis:#c82f41;
 $hoverParentesis:#5c161e;
 $harmonia:#316c82;
 $hoverHarmonia:#081317;
 $pijama:#3f5463;
 $hoverPijama:#414142;
