
/* ==========================================================================
CLIENT - COLOR PALETTE
========================================================================== */  
 $colorPrincipal: #a50700;
 $hoverPrincipal:#560703;
 $colorSecundario:#06409a;
 $hoverSecundario:#00173a;


/* ==========================================================================
END CLIENT - COLOR PALETTE
========================================================================== */  


