/* ==========================================================================
   FONTS
   ========================================================================== */ 

/*-------Roboto------*/
@font-face{
   font-family:"Roboto";
   src: url("../fonts/roboto/Roboto-Thin.ttf")format("truetype");
   font-weight:100;
   font-style:thin;
}

@font-face{
   font-family:"Roboto";
   src: url("../fonts/roboto/Roboto-Light.ttf")format("truetype");
   font-weight:200;
   font-style:lighter;
}

@font-face{
   font-family:"Roboto";
   src: url("../fonts/roboto/Roboto-Regular.ttf")format("truetype");
   font-weight:400;
   font-style:normal;
}


@font-face{
   font-family:"Roboto";
   src:url("../fonts/roboto/Roboto-Medium.ttf") ;
   font-weight:500;
   font-style:normal;
}

@font-face{
   font-family:"Roboto";
   src:url("../fonts/roboto/Roboto-Bold.ttf")   ;
   font-weight:700;
   font-style:bold;
}
/*------Fin Roboto------*/
/*------Roboto Condensed------*/
@font-face{
   font-family:"Roboto Condensed";
   src:url("../fonts/roboto/Roboto-Black.ttf")  ;
   font-weight:800;
   font-style:bolder;
}
@font-face{
   font-family:"Roboto Condensed";
   src: url("../fonts/roboto-condensed/RobotoCondensed-Thin.ttf")format("truetype");
   font-weight:100;
   font-style:thin;
}

@font-face{
   font-family:"Roboto Condensed";
   src: url("../fonts/roboto-condensed/RobotoCondensed-Light.ttf")format("truetype");
   font-weight:200;
   font-style:lighter;
}

@font-face{
   font-family:"Roboto Condensed";
   src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.ttf")format("truetype");
   font-weight:400;
   font-style:normal;
}

@font-face{
   font-family:"Roboto Condensed";
   src:url("../fonts/roboto-condensed/RobotoCondensed-Medium.ttf") ;
   font-weight:500;
   font-style:normal;
}

@font-face{
   font-family:"Roboto Condensed";
   src:url("../fonts/roboto-condensed/RobotoCondensed-Bold.ttf")   ;
   font-weight:700;
   font-style:bold;
}
@font-face{
   font-family:"Roboto Condensed";
   src:url("../fonts/roboto-condensed/RobotoCondensed-Black.ttf")  ;
   font-weight:800;
   font-style:bolder;
}
/* ------Fin Roboto condensed------*/
/*--------Font Trade Marker--------*/
@font-face {
    font-family: 'TradeMarker';
    src: url('../fonts/trade-marker/TradeMarker-Light.woff2') format('woff2'),
        url('../fonts/trade-marker/TradeMarker-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TradeMarker';
    src: url('../fonts/trade-marker/TradeMarker-LightItalicAlt.woff2') format('woff2'),
        url('../fonts/trade-marker/TradeMarker-LightItalicAlt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TradeMarker';
    src: url('../fonts/trade-marker/TradeMarker-LightAlt.woff2') format('woff2'),
        url('../fonts/trade-marker/TradeMarker-LightAlt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TradeMarker';
    src: url('../fonts/trade-marker/TradeMarker-Fat.woff2') format('woff2'),
        url('../fonts/trade-marker/TradeMarker-Fat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ------Fin -Trade Marker-----*/


/* ==========================================================================
   FIN FONTS
   ========================================================================== */ 